extends partials/_layout.jade

block title
  title OMG

block content
  .container
    img(src="img/NSS-logo-primary.svg", alt="NSS Logo", title="Nashville Software School")
    h1 Hello World

    script(src="js/main.js")
